<?xml version="1.0" encoding="UTF-8"?>
<web-app 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    		xmlns="http://java.sun.com/xml/ns/javaee" 
    		xmlns:web="http://java.sun.com/xml/ns/javaee"     		
    		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GDSCAppServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Just for test</description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>locate</description>
    <display-name>LocateServlet</display-name>
    <servlet-name>LocateServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.LocateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocateServlet</servlet-name>
    <url-pattern>/locate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>locateTest</description>
    <display-name>LocateTestServlet</display-name>
    <servlet-name>LocateTestServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.LocateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocateTestServlet</servlet-name>
    <url-pattern>/locateTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>collect</description>
    <display-name>CollectServlet</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>collectTest</description>
    <display-name>CollectTestServlet</display-name>
    <servlet-name>CollectTestServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.CollectTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectTestServlet</servlet-name>
    <url-pattern>/collectTest</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.winjune.ips.utils.WifiIpsServletContextListener</listener-class>
  </listener>
  <servlet>
    <description>query</description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>nfcCollect</description>
    <display-name>NfcCollectServlet</display-name>
    <servlet-name>NfcCollectServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.NfcCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NfcCollectServlet</servlet-name>
    <url-pattern>/nfcCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>nfcLocate</description>
    <display-name>NfcLocateServlet</display-name>
    <servlet-name>NfcLocateServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.NfcLocateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NfcLocateServlet</servlet-name>
    <url-pattern>/nfcLocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>traceEntry</description>
    <display-name>TraceEntryServlet</display-name>
    <servlet-name>TraceEntryServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.TraceEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceEntryServlet</servlet-name>
    <url-pattern>/traceEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>trace</description>
    <display-name>TraceServlet</display-name>
    <servlet-name>TraceServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.TraceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceServlet</servlet-name>
    <url-pattern>/trace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>fpDelete</description>
    <display-name>FingerprintDeleteServlet</display-name>
    <servlet-name>FingerprintDeleteServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.FingerprintDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FingerprintDeleteServlet</servlet-name>
    <url-pattern>/fpDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>testRecord</description>
    <display-name>QueryTestRecordServlet</display-name>
    <servlet-name>QueryTestRecordServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryTestRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTestRecordServlet</servlet-name>
    <url-pattern>/testRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>tuner</description>
    <display-name>TunerServlet</display-name>
    <servlet-name>TunerServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.TunerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TunerServlet</servlet-name>
    <url-pattern>/tuner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>saveTuner</description>
    <display-name>TunerSaverServlet</display-name>
    <servlet-name>TunerSaverServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.TunerSaverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TunerSaverServlet</servlet-name>
    <url-pattern>/saveTuner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>mapReport</description>
    <display-name>MapReportServlet</display-name>
    <servlet-name>MapReportServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.MapReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapReportServlet</servlet-name>
    <url-pattern>/mapReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryApk</description>
    <display-name>QueryApkVersionServlet</display-name>
    <servlet-name>QueryApkVersionServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryApkVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryApkVersionServlet</servlet-name>
    <url-pattern>/queryApk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryBuildingList</description>
    <display-name>QueryBuildingListServlet</display-name>
    <servlet-name>QueryBuildingListServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryBuildingListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBuildingListServlet</servlet-name>
    <url-pattern>/queryBuildingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryMapList</description>
    <display-name>QueryMapListServlet</display-name>
    <servlet-name>QueryMapListServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryMapListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMapListServlet</servlet-name>
    <url-pattern>/queryMapList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>dowloadMap</description>
    <display-name>DownloadMapServlet</display-name>
    <servlet-name>DownloadMapServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.DownloadMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMapServlet</servlet-name>
    <url-pattern>/dowloadMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryMapInfo</description>
    <display-name>QueryMapInfoServlet</display-name>
    <servlet-name>QueryMapInfoServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryMapInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMapInfoServlet</servlet-name>
    <url-pattern>/queryMapInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryNaviInfo</description>
    <display-name>QueryNaviInfoServlet</display-name>
    <servlet-name>QueryNaviInfoServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryNaviInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNaviInfoServlet</servlet-name>
    <url-pattern>/queryNaviInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>queryInterestPlacesInfo</description>
    <display-name>QueryInterestPlacesInfoServlet</display-name>
    <servlet-name>QueryInterestPlacesInfoServlet</servlet-name>
    <servlet-class>com.winjune.ips.controller.QueryInterestPlacesInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInterestPlacesInfoServlet</servlet-name>
    <url-pattern>/queryInterestPlaces</url-pattern>
  </servlet-mapping>
</web-app>